<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="JobPortalDatabase"
         connectionString="Server=mssqlstud.fhict.local;Database=dbi505281_jpdb;User Id=dbi505281_jpdb;Password=jobportal2023;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>