@page "/change-email"
@using Microsoft.AspNetCore.Authorization;
@model JobPortalWeb.Pages.UserSettings.ChangeUserEmailModel
@attribute [Authorize]
@{
    ViewData["Title"] = "Change email";
}

<div class="user-container">
    <div class="profile-details-card">
        <h2>Change your email</h2>
        <p>@User.Identity.Name</p>
        <form method="post">
            <strong><label asp-for="NewEmail"></label></strong>
            <p class="validation-error"><span asp-validation-for="NewEmail"></span></p>
            <p class="validation-error">@Html.ValidationMessage("EmailInUseError")</p>
            <input asp-for="NewEmail" type="text" />

            <strong><label asp-for="CurrentPassword"></label></strong>
            <p class="validation-error"><span asp-validation-for="CurrentPassword"></span></p>
            <p class="validation-error">@Html.ValidationMessage("IncorrectPassword")</p>
            <input asp-for="CurrentPassword" type="password" />

            <button class="save-details-button" type="submit">Confirm</button>
        </form>
    </div>
</div>

<script src="~/lib/jquery/jquery.js" asp-append-version="true"></script>
<script src="~/lib/jquery-validate/jquery.validate.js" asp-append-version="true"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js" asp-append-version="true"></script>