@page

<div class="access-denied-container">
    <h1>ACCESS DENIED</h1>
    <p>You are not authorized to access this page.</p>
    <svg xmlns="http://www.w3.org/2000/svg" width="120" height="120" fill="currentColor" class="bi bi-lock-fill sad-icon" viewBox="0 0 16 16">
        <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z" />
    </svg>
    <br />
    <p><a asp-page="/Index">Go to main page</a></p>
</div>