@page "/privacy"
@{
    ViewData["Title"] = "Privacy policy";
}

<div class="info">
    <h1>Privacy Policy</h1>

    <p>This privacy policy outlines the types of information that Job Portal ("we", "us", "our") collects from its users and how we use, share, and protect that information. We are committed to protecting the privacy of our users and maintaining the confidentiality of their personal data.</p>
    <p>By using our website and services, you consent to the collection and use of your personal information as described in this privacy policy.</p>

    <h2>Information We Collect</h2>
    <p>We collect personal information when you create an account, apply for jobs, or contact employers through the platform. The types of personal information we may collect include:</p>
    <ul>
        <li>Account details: Email address, password, location, and other account-related information.</li>
        <li>Jobseeker specific account details: Your full name and phone number</li>
        <li>Employer specific account details: Your company name and company size.</li>
        <li>Job listing information: Job title, salary, location, and other relevant details.</li>
        <li>Application history: The jobs you have applied for and the status of your job applications.</li>
        <li>Messages: Messages sent between jobseekers and employers through the platform.</li>
    </ul>

    <h2>How We Use Your Information</h2>
    <p>We use your personal information to provide our services to you and to improve our website and services. Specifically, we use your information to:</p>
    <ul>
        <li>Create and manage your account.</li>
        <li>Provide you with access to job listings and job application features.</li>
        <li>Allow employers to contact jobseekers through the platform.</li>
        <li>Notify you of job application outcomes and messages from employers.</li>
        <li>Analyze and improve our website and services.</li>
    </ul>

    <h2>Protecting Your Information</h2>
    <p>We take reasonable steps to protect your personal information from unauthorized access, use, or disclosure. We use industry-standard encryption technologies and maintain appropriate administrative, physical, and technical safeguards to protect your personal information.</p>
    <p>However, no method of transmission over the internet or method of electronic storage is 100% secure. Therefore, while we strive to use commercially acceptable means to protect your personal information, we cannot guarantee its absolute security.</p>

    <h2>Your Rights</h2>
    <p>You have the right to access, correct, or delete your personal information that we hold. You also have the right to object to or restrict the processing of your personal information. To exercise these rights, please contact us using the contact information provided below.</p>

    <h2>Changes to this Privacy Policy</h2>
    <p>We may update this privacy policy from time to time. We will notify you of any changes by posting the new privacy policy on our website. You are advised to review this privacy policy periodically for any changes.</p>

    <h2>Contact us</h2>
    <p>If you have any questions about this privacy policy or our privacy practices, please contact us at privacy@jobportal.com.</p>
    <br />
    <p>Last updated: February 24, 2023</p>
</div>