@page "/terms"
@{
    ViewData["Title"] = "Terms of service";
}

<div class="info">
    <h1>Terms of Service</h1>
    <p>These Terms of Service ("Agreement") constitute a legally binding agreement between you and Job Portal ("we", "us", "our") governing your use of our website and services.</p>
    <p>By accessing or using our website and services, you acknowledge that you have read, understood, and agree to be bound by this Agreement. If you do not agree to this Agreement, you may not use our website and services.</p>

    <h2>Account Registration</h2>
    <p>To use our services, you must create an account. You must provide accurate, complete, and current information when creating your account. You are solely responsible for maintaining the confidentiality of your account and password and for all activities that occur under your account. You agree to notify us immediately of any unauthorized use of your account or any other breach of security.</p>

    <h2>Job Listings</h2>
    <p>Employers may post job listings on our platform. We do not endorse or guarantee any job listing and we are not responsible for the accuracy, completeness, or legality of any job listing. Job seekers are solely responsible for verifying the accuracy and suitability of any job listing before applying for it.</p>

    <h2>Job Applications</h2>
    <p>Job seekers may apply for job listings on our platform. Employers may contact job seekers through our platform. We are not responsible for the content of any communication between employers and job seekers.</p>

    <h2>Intellectual Property</h2>
    <p>All content on our website and services, including but not limited to text, graphics, logos, button icons, images, audio clips, digital downloads, data compilations, and software, is the property of Job Portal or its content suppliers and is protected by copyright laws. You may not use any content from our website and services without our express written permission.</p>

    <h2>Privacy</h2>
    <p>We collect and use personal information in accordance with our <a asp-area="" asp-page="/Privacy">Privacy policy</a>, which is incorporated into this Agreement by reference. By using our website and services, you consent to the collection and use of your personal information as described in our Privacy Policy.</p>

    <h2>Changes to this Terms of Service</h2>
    <p>We may update these Terms of Service from time to time. We will notify you of any changes by posting the new terms of service on our website. You are advised to review these terms of service periodically for any changes.</p>

    <h2>Contact us</h2>
    <p>If you have any questions about these Terms of Service, please contact us at terms@jobportal.com.</p>
    <br />
    <p>Last updated: February 24, 2023</p>
</div>